
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 5px;
    z-index: 100;
}
.white {
    background:white
}
.logo-error {
display: block;
float: left;
height: 60px;
font-size: 20px;
line-height: 60px;
text-align: center;
width: 250px;
padding: 0 15px;
font-weight: 300;
overflow: hidden;
background-color: #010a0f;
color: #241d1d;
-webkit-transition: width 0.3s ease-in-out;
transition: width 0.3s ease-in-out;
border-bottom: 2px solid #010a0f;
}